

.main-header {
  border-bottom: 5px solid #7d97ad;
  display: inline-block;
  width: 100%;
  overflow: auto;
}


.logo {
  display: inline-block;
  position: relative;
  float: left;
  margin-bottom: 5px;
  overflow: auto;
}


.name-job {
  display: inline-block;
  position: relative;
  float: right;
  text-transform: uppercase;
  text-align: right;
  font-family:  helvetica, arial, sans-serif;
}


img {
  max-width: 100%;
  max-height: 100%;
}


main {
  max-width: 100%;
  max-height: 100%;
  margin: 5px 0px;
  text-align: center;
}



.featured-work {
  text-align: left;
  text-transform: capitalize;
  margin: 10px 0 0 25px;
  color: #7d97ad;
}


.footer {
  width: 100%;
  display: flex;
  overflow: auto;
  margin-bottom: 15px;
}


.project {
  max-width: 100%;
  max-height: 100%;
  min-height: 100px;
  min-width: 100px;
}

.project img {
  cursor: pointer;
}
.source {
  font-size: 20px;
  text-align: center;
}

a {
  color: inherit;
}
.caption {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
/*  white-space: normal;
  text-overflow: ellipsis; */

}

.contact-me {
  display: inline-block;
}

i {
  position: relative;
  left: 5px;
  padding: 10px;
}

.fa-facebook {
  color: #4267b2;
}


.fa-twitter {
  color: #1fa5de;
}

.fa-linkedin {
  color: #0077b5;
}


.contact-me p {
  font-family: sans-serif, helvetica, arial, times;
  font-size: 1em;
}

@media screen and (min-width:150px)
 and (max-width:299px) {
  .caption {
      text-align: center;
      font-size: 0.5em;
      text-transform: uppercase;
  }
  .featured-work {
    font-size: 12px;
    text-align: left;
    text-transform: capitalize;
    margin: 3px 0 0 7px;
    color: #7d97ad;
  }
  .main-header h1 {
    font-size: 7px;
  }
  .main-header h3 {
    font-size: 5px;
  }
  .main-header img {
    content: url(../img/code_30px.png);
    vertical-align: bottom;
  }
  .source {
    font-size: 0.5em;
    text-align: center;
  }
}

/* nexus 5 */
@media screen and (min-width:300px)
and (max-width:550px) {
  .caption {
      text-align: center;
      font-size: 0.5em;
      text-transform: uppercase;
  }
  .featured-work {
    font-size: 20px;
    text-align: left;
    text-transform: capitalize;
    margin: 10px 0px 0px 25px;
    color: #7d97ad;
  }
  .main-header h1 {
    font-size: 15px;
  }
  .main-header h3 {
    font-size: 8px;
  }
  .main-header img {
    content: url(../img/code_48px.png);
    vertical-align: bottom;
  }
  .source {
    font-size: 1em;
    text-align: center;
    word-wrap: break-word;
  }

  .project img {
    max-width: 200%;
    min-width: 150%;
  }
}


@media screen and (min-width:350px)
 and (max-width:700px) {
  .caption {
      text-align: center;
      font-size: 0.75em;
      text-transform: uppercase;
  }
  .main-header h1 {
    font-size: 18px;
  }
  .main-header h3 {
    font-size: 10px;
  }
  .main-header img {
    content: url(../img/Code_60px.png);
  }


  .project img {
    max-width: 100%;
    min-width: 50%;
  }
}


@media screen and (min-width:701px)
 and (max-width:800px) {
  .caption {
      text-align: center;
      font-size: 2em;
      text-transform: uppercase;
  }
  .main-header h1 {
    font-size: 20px;
  }
  .main-header h3 {
    font-size: 15px;
  }
  .main-header img {
    content: url(../img/code_60px.png);
  }
  .source {
    font-size: 1.5em;
    text-align: center;
    word-wrap: break-word;
  }
}


@media screen and (min-width:801px)
 and (max-width:1000px) {
  .caption {
      text-align: center;
      font-size: 2em;
      text-transform: uppercase;
  }
  .main-header h1 {
    font-size: 22px;
  }
  .main-header h3 {
    font-size: 15px;
  }
  .main-header img {
    content: url(../img/code_80px.png);
  }

  .source {
    font-size: 1.5em;
    text-align: center;
    word-wrap: break-word;
  }
}



@media screen and (min-width:1001px)
 and (max-width:1080px) {
  .caption {
      text-align: center;
      font-size: 3em;
      text-transform: uppercase;
  }
  .main-header h1 {
    font-size: 23px;
  }
  .main-header h3 {
    font-size: 17px;
  }
  .main-header img {
    content: url(../img/code_80px.png);
  }
  .source {
    font-size: 1.5em;
    text-align: center;
    word-wrap: break-word;
  }
}


@media screen and (min-width:1024px)
and (max-width:1080px) {
  .caption {
      text-align: center;
      font-size: 2em;
      text-transform: uppercase;
  }
  .main-header h1 {
    font-size: 23px;
  }
  .main-header h3 {
    font-size: 17px;
  }
  .main-header img {
    content: url(../img/code_80px.png);
  }
  .source {
    font-size: 2.2em;
    text-align: center;
    word-wrap: break-word;
  }
}
